.user-profile-logo {
    background: white;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    border: 1px solid #797777;
    color: #797777;
    /*width: 100px;*/
}

.dropdown-active {
    display: block !important;
    border-top: none;
}

.dropdown-logo-active {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none;

}

.dropdown-items {
    background: white;
    list-style: none;
    position: absolute;
    text-align: center;
    padding: 10px;
    border: 1px solid black;

}

.dropdown-items a {
    color: black !important;
    text-decoration: none;
}

.dropdown-items li {
    margin-top: 10px;
}


.dropdown-items li:last-child {
    margin-bottom: 60px;
}

.user-profile-container{
    position: relative;
}

.dropdown-disable {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
