.buyticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.screen {
    background: gray;
    text-align: center;
    width: 660px;
    padding: 10px 0;
}

.seats-container {
    display: grid;
    grid-template-rows: repeat(4, 20%);
    grid-template-columns: repeat(11, 50px);
}

.screen p {
    margin: 0;
}
